body{
    background-position: center;
    background-image: url(https://img.goodfon.ru/wallpaper/big/0/5b/pole-zelen-trava-dom-derevya.jpg); 
    background-color: green;
    background-repeat: no-repeat;
}
